jupyter_contrib_nbextensions
jupyter-offlinenotebook
requests
progressbar
pandas
gensim==3.8.3
nltk
pyLDAvis==3.2.2
matplotlib
vaderSentiment
numpy
Pillow
wordcloud
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
